@import url('https://fonts.googleapis.com/css?family=Lemonada');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

div{
	display: block;
	width: 400px;
	margin: auto;
}

ul{
	margin:0;
	padding: 0;
}

#completed-tasks span{
	  text-decoration: line-through;
	  font-size: 1.2em !important;
}

#title {
	  font-family: 'Lemonada', cursive !important;
    border-right: solid 3px rgba(0, 0, 0, 0.75);
    white-space: pre;
    overflow: hidden;
    letter-spacing: 0.20rem;
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 480px;
}

#title {
    animation: animated-text 2s steps(11,end) 0.5s 1 normal both,
    animated-cursor 750ms steps(11,end) infinite;
}

@keyframes animated-text{
    from{width: 0%;}
    to{width: 480px;}
  }

  @keyframes animated-cursor{
    from{border-right-color: rgba(0, 0, 0, 0.75);}
    to{border-right-color: transparent;}
  }
